<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style_contacto.css">


</head>  
    

    <body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                </div>
                    <h3 class="text-whitesmoke">FORMULARIO DE CONTACTO</h3>
                   
                <div class="container-content">
                    <form class="margin-t">
                        <div class="form-group">
                            <select class="form-control" required="">
                                <option disabled selected>Provincia</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" required="">
                                <option disabled selected>Localidad</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Código postal" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Calle" required="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Número (altura)" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Departamento" required="">
                        </div>
                        <br>
                        <button type="submit" class="form-button button-l margin-b">Guardar</button>
                    </form>
                    <p class="margin-t text-whitesmoke"><small> NAME FOOD &copy; 2021</small> </p>
                </div>
            </div>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


</body>


</html>